.KontaktPageWrapper{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  background-color: var(--card-bg);
}

.logoWrapper{
  display: none;
}

.address:hover{
  color: var(--button-hover);
}

.address:focus{
  color: var(--button-hover);
}

.kontaktLink{
  cursor: pointer;
}

.addressLink{
  cursor: pointer;
}

.KontaktHeader{
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.kontaktItem{
  display: flex;
  align-items: center;
  gap: 10px;
}

.kontaktItem:hover{
  color: var(--button-hover);
}

.kontaktItem:focus{
  color: var(--button-hover);
}

.kontaktList{
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 40px;
}

.address{
  padding-bottom: 40px;
}

@media (min-width: 426px){
.text{
  font-size: 20px;
}
}


@media (min-width: 769px){
  .logoWrapper{
    display: block;
  }

  .logoImg{
    border-radius: 50%;
  }

  .Wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
  }
}
