.KontaktPageWrapper{
  width: 314px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  background-color: var(--card-bg);
  border-radius: 16px; 
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
}

.logoWrapper{
  display: none;
}

.address:hover{
  color: var(--button-hover);
}

.address:focus{
  color: var(--button-hover);
}

.kontaktLink{
  cursor: pointer;
}

.addressLink{
  cursor: pointer;
}

.KontaktHeader{
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.kontaktItem{
  display: flex;
  align-items: center;
  gap: 10px;
}

.kontaktItem:hover{
  color: var(--button-hover);
}

.kontaktItem:focus{
  color: var(--button-hover);
}

.kontaktList{
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 40px;
}

.address{
  padding-bottom: 40px;
}

@media (min-width: 426px){
  .KontaktPageWrapper{
  width: 421px;
}
.text{
  font-size: 20px;
}
}


@media (min-width: 769px){
  .KontaktPageWrapper{
  width: 759px;
}

  .logoWrapper{
    display: block;
  }

  .logoImg{
    border-radius: 50%;
  }

  .Wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
  }
}

@media (min-width: 1024px){
  .KontaktPageWrapper{
  width: 1004px;
}
}

@media (min-width: 1440px){
  .KontaktPageWrapper{
  width: 1400px;
}
}
