.KontaktPageWrapper{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  background-color: var(--card-bg);
}



.KontaktHeader{
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.kontaktList{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 40px;
}

.address{
  padding-bottom: 40px;
}

@media (min-width: 426px){
.text{
  font-size: 20px;
}
}