
.navSectionWrapper{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 16px; 
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
  
  z-index: 1000;
}

.navSection{
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
  
  align-items: center;
  padding: 10px 20px;
  
}

.reservButton{
  font-weight: 600;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  color: var(--button);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.reservButton:hover{
  color: var(--button-hover);
}

.reservButton:focus{
  color: var(--button-hover);
}

.NavLink{
  display: none;
}

.navButton{
  display: none;
  border-radius: 8px;
}


.burgerButton {
  font-size: 24px;
  background: none;
  border: none;
  color: var(--button);
  cursor: pointer;
}

@media (min-width: 426px){
  
.navSection{
  display: flex;
  
  justify-content: space-between;
}
.nav {
  display: flex; 
  gap: 10px;
  }
.NavLink{
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  height: 30px;
  font-weight: 600;
  font-size: 12px;
  transition: all 0.3s;
}

.linkActive {
  color: var(--button-hover);
}

.navButton{
  font-size: 12px;
  padding: 5px 10px;
  background-color: var(--button);
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--card-bg);
}
.navButton:hover{
  background: var(--button-hover);
  color: var(--button);
}

.navButton:focus{
  background: var(--button-hover);
}


  
  .burgerButton {
    display: none;
  }

  
}



@media (min-width: 769px) {
.navSection{
  
}

.nav{
  gap: 60px; 
}

.NavLink{
  font-size: 18px;
  
  
}

.reservButton{
  font-size: 18px;
}

.navButton{
  font-size: 18px;
  width: 100px;
}


}
