
.navSection{
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.reservButton{
  font-weight: 600;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  color: var(--button);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.NavLink{
  display: none;
}

.navButton{
  display: none;
}


.burgerButton {
  font-size: 24px;
  background: none;
  border: none;
  color: var(--button);
  cursor: pointer;
}

@media (min-width: 426px){
  
.navSection{
  display: flex;
  padding: 5px 15px;
  background-color: #fff;
  justify-content: space-between;
}
.nav {
  display: flex; 
  gap: 10px;
  }
.NavLink{
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  height: 30px;
  font-size: 12px;
  transition: all 0.3s;
}

.linkActive {
  color: #967959;
}

.navButton{
  font-size: 12px;
  padding: 5px 10px;
  background-color: var(--button);
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.navButton:hover{
  background: var(--button-hover);
}

.navButton:focus{
  background: #c4b09a;
}


  
  .burgerButton {
    display: none;
  }

  
}



@media (min-width: 769px) {
.navSection{
  
}

.nav{
  gap: 60px; 
}

.NavLink{
  font-size: 18px;
  
  
}

.reservButton{
  font-size: 18px;
}

.navButton{
  font-size: 18px;
  width: 100px;
}
.navButton:hover{
  background: #c4b09a;
}

}
