:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  
}

#root{
  
  
}

/* Відключає базові відступи та вирівнює поля для всіх елементів */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Видаляє стандартний стиль списків */
ul,
ol {
  list-style: none;
}

/* Видаляє підкреслення для посилань за замовчуванням */
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --background: #b6b6b3; /* Ніжний бежевий */
  --text: #243433; /* Чорний */
  --header: #4B2E20; /* Темно-коричневий */
  --button: #1e2b2c; /* Оливковий зелений */
  --button-hover: #e0742f; /* Золотистий */
  --card-bg: #eaebea; /* Світлий кремовий */
}

/* Видаляє стилі кнопок */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Вирівнює шрифти для тіла документа */
body {
  margin-top: 96px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--background);
  color: #000;
  overflow-x: hidden;
}

/* Встановлює стандартний вигляд заголовків */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Вирівнює поля для зображень */
img {
  max-width: 100%;
  height: auto;
  
}

main {
  display: flex;
  justify-content: center;
}

/* Вирівнює інпут-поля */
input,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}
