.HomePageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.navButton{
  width: 200px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: var(--button);
  border: none;
  align-self: center;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--card-bg);
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 427px){
  .navButton{
    font-size: 18px;
  }
}